

/* Contact Button */
#contactForm button[type="submit"] {
  background-color: #b7d7fc;
  color: black;
  padding: 2px;
  border: black 2px solid;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Logo Border Animation */
.gradient-border {
  --border-width: 3px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  color: white;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

/* Menu Button */
button{
  background-color: #b7d7fc;
  border: 3px solid black;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px;
}

/* Navigation bar */
body{
  background-color: white;
}
nav {
    background-color: white;
    padding: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: clamp(2rem, 2.8vw, 5rem);
  font-weight: bold;
}

/* Typewriter Effect */
.typewriter {
  width: 21.5ch;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #212121;
  animation: cursor 1s step-start infinite, 
    text 5s steps(18) alternate infinite;
    background-color: #b7d7fc;
}

@keyframes cursor {
  0%, 100% { 
    border-color: #212121; 
  }
}

@keyframes text {
  0% { 
    width: 0; 
  }
  100% { 
    width: 21.5ch; 
  }
}
.thumbnail { 
  top:-50px; 
  left:-35px; 
  display:block; 
  z-index:999; 
  cursor: pointer; 
  -webkit-transition-property: all; 
  -webkit-transition-duration: 0.3s; 
  -webkit-transition-timing-function: ease; 
  } 

  .thumbnail:hover { 
  transform: scale(1.5); 

  }

/* Menu */
#nav-menu {
  display: none;
}

#nav-menu.visible {
  display: block;
}

#hamburger {
  display: block;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover {
    color: black;
}

.current a {
    background-color: white;
    text-decoration: wavy underline;
    color: black;
    font-weight: bold;
}

.skip a{
    background: #b7d7fc;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

.skip{
    top:-40px;
    position: absolute;
}
.skip a:focus {
    top: 60px;
    position:relative;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 300px;
}

.image-item {
    text-align: center;
}

.image-item img {
    max-width: 100%;
    max-height: 100%;
}

@media screen and (prefers-reduced-motion: reduce){
    .skip a{
        -webkit-transition: none;
        transition: none;
       }
    .travel-2{
        position: fixed;
        visibility: hidden;
    }
    .gif{
        visibility: hidden;
    }
    .travel-3{
        grid-area: 3/1/span 1/span all;
    }
}


/* PETS STYLING */
.content-wrapper {
    display: flex;
align-items: center;
justify-content: center;
}

.content-wrapper div {
    width: 100px;
    height: 100px;
}

div.pet_1 h1 {
text-align: center;
}
div.pet-8 h3 {
text-decoration: underline;
    }

.pet-1,.pet-2,.pet-3,.pet-4,.pet-5,.pet-6,.pet-7,.pet-8{
    max-width: 320px;
    object-fit: cover;
    overflow: hidden;
}

.pet-4, .pet-5, .pet-6, .pet-7{
    min-height: 100%;
    max-height: 100%;
    text-align: center;
}

.pet-1 img{
    border: solid 5px black;
    border-radius: 20px;
}

.pet-4 img, .pet-5 img,.pet-6 video, .pet-6 img,.pet-7 img{
    max-width: 90%;
    max-height: 90%;
    min-width: 90%;
    min-height: 90%;
    margin: 10px;
    border-radius: 20px;
    border: solid 5px black;
    object-fit: cover;
}

.pet-1{
    text-align: center;
    grid-area: 1/1/span 1/span all;
}
.pet-2{
    text-align: center;
    grid-area: 2/1/span 1/span all;
}
.pet-3{
    text-decoration: underline;
    grid-area: 3/1/span 1/span all;
}
.pet-4{
    grid-area: 4/1/span 1/span all;
}
.pet-5{
    grid-area: 4/2/span 1/span all;
}
.pet-6{
    grid-area: 5/1/span 1/span all;
}
.pet-7{
    grid-area: 5/2/span 1/span all;
}
.pet-8{
    text-align: center;
    grid-area: 6/1/span 1/span all;
}

/* RECIPES STYLING */

.recipe-1,.recipe-2,.recipe-3,.recipe-4,.recipe-5,.recipe-6,.recipe-7,.recipe-8, .recipe-9,.recipe-10{
    max-width: 300px;
    object-fit: cover;
    overflow: hidden;
}

.recipe_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.recipe-1{
    grid-area: 1/1/1/span 3;
    text-align: center;
}
.recipe-2{
    grid-area: 2/1/span 1/span all;
    padding: 0 10px;
    margin: 0 auto;
}
.recipe-3{
    grid-area: 3/1/span 1/span all;
    margin: 0 auto;
}
.recipe-4{
    grid-area: 4/1/span 1/span all;
    padding: 0 10px;
}
.recipe-5{
    grid-area: 5/1/span 1/span all;
    text-align: center;
    text-decoration: underline;
}
.recipe-6{
    grid-area: 6/1/span 1/span all;

}
.recipe-7{
    grid-area: 7/1/span 1/span all;
    text-align: center;
    text-decoration: underline;

}
.recipe-8{
    grid-area: 8/1/span 1/span all;

}
.recipe-9{
    grid-area: 9/1/span 1/span all;
    text-align: center;
    text-decoration: underline;
}
.recipe-10{
    grid-area: 10/1/span 1/span all;
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
    row-gap: 10px;
    column-gap: 10px;

    justify-items: center;
    justify-content: center;
}
.recipe-3 img{
    object-fit: cover;
    max-height: 200px;
    max-width: 200px;
    justify-content: center;
    justify-items: center;
}
.recipe-10 img{
    object-fit: cover;
    max-width: 250x;
    min-width: 250px;
    max-height: 250px;
    min-height: 250px;
    justify-content: center;
    justify-items: center;
}

#recipes img{
    object-fit: cover;
    max-width: 250px;
    max-height: 250px;
    border-radius: 20px;
    border: solid 5px black;
    margin: 10px;
}
.recipe-6 ul {
    list-style-type: circle;
    font-size: 1em;
    color: black;
    line-height: 1.6;
    text-align: center;
    white-space: pre-wrap;
}

.recipe-6 ul li {
    margin-bottom: 10px;
}

.recipe-6 ul li::before {
    content: "• ";
    color: black;
}

.recipe-8 ol {
    list-style-type: decimal;
    color: black;
    counter-reset: item;
    list-style-position: outside;
    white-space: pre-wrap;
    text-align: center;
}

.recipe-8 ol li {
    margin-bottom: 10px;
    line-height: 1.6;
    padding-left: 15px;
}

.recipe-8 ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: black;
    font-weight: bold;
}

  /* TRAVEL STYLING */
  .image-container {
    border: 2px solid #333;
  }
  a {
    color: black;
    text-decoration: underline;
  }
h1 {
    text-align: center;
    background-color: white;
    padding: 30px;
    }

  .travel-1,.travel-2,.travel-3,.travel-4,.travel-5,.travel-6,.travel-grid{
    max-width: 320px;
    object-fit: cover;
    overflow: hidden;
}

.travel_container{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(1.5, 1fr);
    position: relative;
    overflow:hidden;
    justify-items: center;
}

.travel-1{
    grid-area: 1/1/span 1/span 1;
    text-align: center;
}

.travel-2{
    grid-area: 2/1/span 1/ span 1;
    margin: 10px;
    border-radius: 20px;
    border: solid 5px black;
}

.travel-3{
    grid-area: 3/1/span 1/ span 1;
    border-radius: 20px;
    border: solid 5px black;

}
.travel-2,.travel-3{
    max-height: 250px;
}
.travel-2 img,.travel-3 img{
    object-fit: cover;
    max-height: 250px;
    min-height: 300px;
    max-width: 200px;
}

.travel-4{
    grid-area: 4/1/span 1/ span 2;
    text-align: center;
}
.travel-5{
    grid-area: 5/1/span 1/ span 2;
    text-align: center;
}
.travel-6{
    grid-area: 6/1/span 1/ span 2;
    text-decoration: underline;
}
.travel-grid{
    grid-area: 8/1/span 1/ span 2;
    display: grid;
    padding: 40px;
    justify-items:center;
}

.travel-grid figure {
  text-align: center;
}

.travel-grid video {
  display: inline-block;
}

.travel-grid video, .travel-grid img{
    object-fit: cover;
    max-height: 250px;
    max-width: 250px;
    border-radius: 20px;
    border: solid 5px black;
}

.travel-grid figcaption{
    max-width: 200px;
    padding: 10px 0 40px 0;
    text-align: center;
}

/* FINAL PROJECT */
/* Tablet View */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    /* Navigation Bar */
    nav {
        padding: 20px;
    }

    ul {
        text-align: center;
        font-size: 20px;
    }

    li {
        display: inline;
        margin: 10px;
        margin-bottom: 10px;
    }

    /* Image Grid */
    .image-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Pets Section */
    .content-wrapper div {
        width: 80px;
        height: 80px;
    }

    .content-wrapper div h1 {
        font-size: 1em;
    }

    #pets ul {
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        padding: 0;
    }

    #pets p{
        font-size: 20px;
    }

    #pets h2{
        font-size: 28px;
        font-weight: bolder;
    }

    #pets h3{
        font-size: 24px;
    }

    .pet-1, .pet-2, .pet-3, .pet-4, .pet-5, .pet-6, .pet-7, .pet-8 {
        max-width: 100%;
        height: auto;
    }

    .pet-3 {
        text-align: center;
    }


    /* Recipes Section */
    .recipe_container {
        grid-template-columns: 1fr;
    }

    .recipe-2 {
        display: flex;
        flex-direction: column;
        font-size: 20px;
    }

    .recipe-2 span {
        margin-bottom: 10px;
    }

    .recipe_container p {
        text-align: center;
    }

    #recipes p {
        font-size: 20px;
    }
    #recipes h2 {
        font-size: 28px;
        font-weight: bolder;
    }
    #recipes h3 {
        font-size: 24px;
    }

    #recipes ul {
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        padding: 0;
    }

    #recipes ol {
        font-size: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style-type: none;
        padding: 0;
    }

    .recipe-1, .recipe-2, .recipe-3, .recipe-4, .recipe-5, .recipe-6, .recipe-7, .recipe-8, .recipe-9, .recipe-10 {
        max-width: 100%;
        height: auto;
    }

    .recipe-6 ul {
        list-style-type: circle;
        font-size: 24px;
        color: black;
        line-height: 1;
        text-align: center;
        white-space: pre-wrap;
    }
    
    .recipe-6 ul li {
        margin-bottom: 10px;
    }
    
    .recipe-6 ul li::before {
        content: "• ";
        color: black;
    }

.recipe-8 ol {
    list-style-type: decimal;
    color: black;
    counter-reset: item;
    list-style-position: outside;
    text-align: center;
    line-height: 0.4;
}

.recipe-8 ol li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.recipe-8 ol li:before {
    content: counter(item) ". ";
    counter-increment: item;
    color: black;
    font-weight: bold;
}

    /* Travel Section */
    #travel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
    }
    .travel-grid figcaption {
        max-width: 100%;
        padding: 10px 0 40px 0;
        text-align: center;
    }

    .travel_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .travel-grid img {
        display: block;
        margin: 0 auto;
    }
    
    .travel-1, .travel-2, .travel-3, .travel-4, .travel-5, .travel-6, .travel-grid {
        max-width: 100%;
        height: auto;
    }

    #travel p{
        font-size: 20px;
    }
    #travel h3{
        font-size: 24px;
    }

    #travel h2{
    font-size: 28px;
    }

    figure {
        margin: 0;
        padding: 0;
    }
    
    figure figcaption {
        text-align: center;
        padding: 10px 0 40px 0;
        max-width: 100%;
        font-size: 22px;
    }
    
    figure img, figure video {
        border: 5px solid #333;
        border-radius: 10px;
        overflow: hidden;
        max-width: 100%;
        height: auto;
        text-align: center;
    }
    
}
/* Desktop View */
@media screen and (min-width: 1024px) {
    nav {
      padding: 50px;
    }
  
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;
      font-size: 40px;
    }
  
    li {
      display: inline;
      margin-right: 20px;
    }
  
    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
    }
  
    a:hover {
      color: black;
    }
  
    .current a {
      background-color: white;
      text-decoration: wavy underline;
      color: black;
      font-weight: bold;
    }
  
    .skip a {
      background: #b7d7fc;
      -webkit-transition: top 1s ease-out;
      transition: top 1s ease-out;
      z-index: 1;
    }
  
    .skip {
      top: -40px;
      position: absolute;
    }
  
    .skip a:focus {
      top: 60px;
      position: relative;
    }
  
    .image-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      width: 300px;
      margin: 0 auto;
    }
  
    .image-item {
      text-align: center;
    }
  
    .image-item img {
      max-width: 100%;
      max-height: 100%;
    }
  
    @media screen and (prefers-reduced-motion: reduce) {
      .skip a {
        -webkit-transition: none;
        transition: none;
      }
  
      .travel-2 {
        position: fixed;
        visibility: hidden;
      }
  
      .gif {
        visibility: hidden;
      }
  
      .travel-3 {
        grid-area: 3/1/span 1/span all;
      }
    }
  
    /* PETS STYLING */
    .content-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .content-wrapper div {
      width: 100px;
      height: 100px;
    }
  
    div.pet_1 h1 {
      text-align: center;
    }
  
    div.pet-8 h3 {
      text-decoration: underline;
    }
  
    .pet-1,
    .pet-2,
    .pet-3,
    .pet-4,
    .pet-5,
    .pet-6,
    .pet-7,
    .pet-8 {
      max-width: 800px;
      object-fit: cover;
      overflow: hidden;
      margin: 0 auto;
    }
  
    .pet-4,
    .pet-5,
    .pet-6,
    .pet-7 {
      min-height: 100%;
      max-height: 100%;
      text-align: center;
    }
  
    .pet-1 img {
      max-width: 1000px;
      border: solid 5px black;
      border-radius: 20px;
    }
  
    .pet-4 img,
    .pet-5 img,
    .pet-6 video,
    .pet-6 img,
    .pet-7 img {
      max-width: 90%;
      max-height: 90%;
      min-width: 90%;
      min-height: 90%;
      margin: 10px;
      border-radius: 20px;
      border: solid 5px black;
      object-fit: cover;
    }
  
    .pet-1 {
      text-align: center;
      grid-area: 1/1/span 1/span all;
    }
  
    .pet-2 {
      text-align: center;
      grid-area: 2/1/span 1/span all;
    }
  
    .pet-3 {
      text-decoration: underline;
      grid-area: 3/1/span 1/span all;
    }
  
    .pet-4 {
      grid-area: 4/1/span 1/span all;
    }
  
    .pet-5 {
      grid-area: 4/2/span 1/span all;
    }
  
    .pet-6 {
      grid-area: 5/1/span 1/span all;
    }
  
    .pet-7 {
      grid-area: 5/2/span 1/span all;
    }
  
    .pet-8 {
      text-align: center;
      grid-area: 6/1/span 1/span all;
    }

    #pets ul {
      font-size: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      padding: 0;
  }

  #pets p{
      font-size: 30px;
  }

  #pets h2{
      font-size: 40px;
      font-weight: bolder;
  }
  
  #pets h3{
      font-size: 36px;
      text-align: center;
  }

  .pet_1 h1{
    font-size: 43px;
  }

  
    /* RECIPES STYLING */

    h1{
        font-size: 43px;
    }

    #recipes p {
      font-size: 30px;
  }

  #recipes h2 {
      font-size: 40px;
      font-weight: bolder;
  }

  #recipes h3 {
      font-size: 30px;
      mar
  }

  #recipes ul {
      font-size: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      padding: 0;
  }

  #recipes ol {
      font-size: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style-type: none;
      padding: 0;
  }

.recipe-1 h2{
    font-size: 40px;
    text-align: center;
}

    .recipe-1,
    .recipe-2,
    .recipe-3,
    .recipe-4,
    .recipe-5,
    .recipe-6,
    .recipe-7,
    .recipe-8,
    .recipe-9,
    .recipe-10 {
      max-width: 800px;
      object-fit: cover;
      overflow: hidden;
      margin: 0 auto;
    }
  
    .recipe_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }
  
    .recipe-1 {
      grid-area: 1/1/1/span 3;
      text-align: center;
    }
  
    .recipe-2 {
      grid-area: 2/1/span 1/span all;
      padding: 0 10px;
      margin: 0 auto;
    }
  
    .recipe-3 {
      grid-area: 3/1/span 1/span all;
      margin: 0 auto;
    }
  
    .recipe-4 {
      grid-area: 4/1/span 1/span all;
      padding: 0 10px;
    }
  
    .recipe-5 {
      grid-area: 5/1/span 1/span all;
      text-align: center;
      text-decoration: underline;
    }
  
    .recipe-6 {
      grid-area: 6/1/span 1/span all;
    }
  
    .recipe-7 {
      grid-area: 7/1/span 1/span all;
      text-align: center;
      text-decoration: underline;
    }
  
    .recipe-8 {
      grid-area: 8/1/span 1/span all;
    }
  
    .recipe-9 {
      grid-area: 9/1/span 1/span all;
      text-align: center;
      text-decoration: underline;
    }
  
    .recipe-10 {
      grid-area: 10/1/span 1/span all;
      display: grid;
      grid-template-columns: 1fr;
      padding: 20px;
      row-gap: 10px;
      column-gap: 10px;
      justify-items: center;
      justify-content: center;
    }
  
    .recipe-3 img {
      object-fit: cover;
      max-height: 800px;
      max-width: 800px;
      justify-content: center;
      justify-items: center;
    }
  
    .recipe-10 img {
      object-fit: cover;
      max-width: 800px;
      min-width: 800px;
      justify-content: center;
      justify-items: center;
    }
  
    #recipes img {
      object-fit: cover;
      max-width: 800px;
      max-height: 800px;
      border-radius: 20px;
      border: solid 5px black;
      margin: 10px;
    }
  
    .recipe-6 ul {
      list-style-type: circle;
      font-size: 1em;
      color: black;
      line-height: 1.6;
      text-align: center;
      white-space: pre-wrap;
    }
  
    .recipe-6 ul li {
      margin-bottom: 10px;
    }
  
    .recipe-6 ul li::before {
      content: "• ";
      color: black;
    }
  
    .recipe-8 ol {
      list-style-type: decimal;
      color: black;
      counter-reset: item;
      list-style-position: outside;
      white-space: pre-wrap;
      text-align: center;
    }
  
    .recipe-8 ol li {
      margin-bottom: 10px;
      line-height: 1.6;
      padding-left: 15px;
    }
  
    .recipe-8 ol li:before {
      content: counter(item) ". ";
      counter-increment: item;
      color: black;
      font-weight: bold;
    }

    .recipe-2 {
      display: flex;
      flex-direction: column;
      font-size: 30px;
  }

  .recipe-2 span {
      margin-bottom: 10px;
  }

  
    /* TRAVEL STYLING */
    #travel {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      min-height: 100vh;
  }
  
  .travel-grid figcaption {
      max-width: 100%;
      padding: 10px 0 40px 0;
      text-align: center;
  }
  
  .travel_container {
      display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .travel-grid img {
      display: block;
      margin: 0 auto;
      max-width: 800px;
      min-width: 800px;
      max-height: 800px;
      min-height: 800px;
  }
  
  .travel-1, .travel-2, .travel-3, .travel-4, .travel-5, .travel-6, .travel-grid {
      max-width: 100%;
      height: auto;
  }
  
  #travel p {
      font-size: 30px;
  }
  
  #travel h3 {
      font-size: 32px;
  }
  
  #travel h2 {
      font-size: 40px;
  }
  
  figure {
      margin: 0;
      padding: 0;
  }
  
  figure figcaption {
      text-align: center;
      padding: 10px 0 40px 0;
      max-width: 100%;
      font-size: 30px;
  }
  
  figure img,
  figure video {
      border: 5px solid #333;
      border-radius: 10px;
      overflow: hidden;
      max-width: 100%;
      height: max-content;
      text-align: center;
      max-width: 800px;
      min-width: 800px;
      max-height: 800px;
      min-height: 800px;
  }

/* Logo Border Animation */
/* Adapted and modified from https://codepen.io/ainalem/pen/xxZQqyv */
.gradient-border img{
  width: 180px;
  height: 180px;
}
.gradient-border {
  --border-width: 10px;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  color: white;
  border-radius: var(--border-width);

  &::after {
    position: absolute;
    content: "";
    top: calc(-1 * var(--border-width));
    left: calc(-1 * var(--border-width));
    z-index: -1;
    width: calc(100% + var(--border-width) * 2);
    height: calc(100% + var(--border-width) * 2);
    background: linear-gradient(
      60deg,
      hsl(224, 85%, 66%),
      hsl(269, 85%, 66%),
      hsl(314, 85%, 66%),
      hsl(359, 85%, 66%),
      hsl(44, 85%, 66%),
      hsl(89, 85%, 66%),
      hsl(134, 85%, 66%),
      hsl(179, 85%, 66%)
    );
    background-size: 300% 300%;
    background-position: 0 50%;
    border-radius: calc(2 * var(--border-width));
    animation: moveGradient 4s alternate infinite;
  }
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}

  #hamburger {
    display: block;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
    float: right;
  }

}
